html.auth-page,
html.auth-page body{
    background: #1b2032;
}
.d-none{ display: none; }
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ebeff2;
    vertical-align: middle;
}
.f-20{
    font-size: 20px;
}
.mb-5{
    margin-bottom: 5px;
}
.d-block{
    display: block !important;
}
.full-width{
   width: 100%; 
}
.table-bordered p{
    margin: 0 !important;
}
.tbl-img {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}
.acc-img {
    position: relative;
    width: 250px;
    height: 165px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 2px solid #676767;
    margin: 0 auto;
}
.upload-img {
    position: relative;
    width: 100%;
    height: 165px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 2px solid #dedcdb;
    margin: 5px auto;
}
.login-logo {
    position: relative;
    width: 100%;
    height: 70px;
    cursor: pointer;
    margin: 0 auto;
}
.big-img {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    cursor: pointer;
}
.gallery-img {
    width: 100%;
    height: 220px;
    cursor: pointer;
    background: #fff;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
}
.user-img {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 2px solid #ffffff;
    margin: 10px auto;
    border-radius: 50%;
}
.sidebar-profile-img{
    margin: 7px 0px 5px 7px;
}
.auth-img {
    position: relative;
    width: 100%;
    height: 37rem;
    overflow: hidden;
    cursor: pointer;
}
.img-responsive img, 
.tbl-img img, 
.acc-img img,
.nav-logo img, 
.upload-img img, 
.login-logo img, 
.big-img img, 
.gallery-img img, 
.user-img img{
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    height: 100%;
    width: auto !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.nav-logo {
    position: relative;
    width: 100%;
    height: 49px;
    overflow: hidden;
    cursor: pointer;
    margin: 5px 0;
}
.cust-mod-edit-prof {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #ff9b28;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 11px;
}

i.upload-icon {
    position: absolute;
    right: auto;
    top: 50%;
    left: 50%;
    width: 100%;
    opacity: 0;
    font-size: 70px;
    color: #797676;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    transform: translate(-50%, -50%);
}

.input-img {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.acc-img:hover, .license-img:hover {
    border: 2px dashed #d8322f;
    opacity: 0.5;
}

.acc-img:hover > i.fa.upload-icon, .license-img:hover > i.fa.upload-icon {
    opacity: 1;
}
#sidebar-menu > ul > li > a.active,
#sidebar-menu .subdrop {
    background: #004aad !important;
    border-left: 3px solid #ffffff;
    color: #ffffff !important;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #36404a;
    border-color: #36404a;
}
.bg-picture {
    padding: 0;
}
.navbar-default {
    background-color: #1b2032;
}
.note-editor .btn.btn-default{
    background-color: #676767 !important;
    border: 1px solid #676767 !important;
}
#sidebar-menu > ul > li > a {
    color: #fff;
    border-left: 3px solid #1b2032;
}
#sidebar-menu ul ul a {
    color: #ffffff;
    transition: .2s;
}
#sidebar-menu ul ul a:hover,
#sidebar-menu ul ul li.active a {
    color: #578dd5;
}
#sidebar-menu > ul > li > a:hover:not(a.active) {
    color: #a0a5b5;
    border-left: 3px solid #004aad;
}
.side-menu.left { 
    background: #1b2032;
}
.drop-images {
	padding: 3.25rem;
	border: 2px solid #5f5e5d !important;
}
.drop-images:hover {
	border: 2px dashed #ff9b28 !important;
}
input.drag-files {
    position: absolute;
    right: 0;
    left: 0;
    height: 190px;
    width: 100%;
    opacity: 0;
    bottom: -30px;
    cursor: pointer;
}
span.cust-mod-close.rmImg {
    z-index: 1;
    position: absolute;
    right: 0;
    top: -6px;
    background: #dc442c;
    border-radius: 50%;
    padding: 3px 7px;
    cursor: pointer;
}
span.cust-mod-close.rmImg:hover{
    background: #ce1c00;
}
span.main-title {
    position: absolute;
    width: 100%;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(64, 63, 63, 0.74);
    color: #fff;
    font-size: 26px;
    padding: 10px;
}
.phone-number-grp .parsley-errors-list {
    position: absolute;
}
.public-pages{
    margin: 1% auto !important;
    width: 98% !important;
}
.public-pages2{
    width: 700px !important;
}
.download-sections img {
    margin-top: 20px;
    transition: .2s;
}
.download-sections img:hover {
    box-shadow: 0px 0px 30px rgba(8, 8, 8, 0.66);
}
.img-input {
    display: block;
    position: relative;
    bottom: 24px;
    margin: 0 auto;
    width: 120px;
    display: none;
}
.main-img-grp .parsley-errors-list {
    position: relative;
    display: block;
    text-align: center;
    margin: 5px auto;
    width: 100%;
}
a.pdf-btn-link {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    background: #dc442c;
    right: 0;
    padding: 5px 0;
    color: #fff;
    transition: .2s;
}
a.pdf-btn-link:hover{
    background: #b72711;
}
.custom-login-page .card-box{
    background-color: #20294a;
    color: #fff;
}
.custom-login-page,
.custom-login-page h1,
.custom-login-page h2,
.custom-login-page h3,
.custom-login-page h4,
.custom-login-page h5,
.custom-login-page h6{
    color: #fff;
}
.btn-primary{
    background-color: #422fd3 !important;
    border-color: #422fd3 !important;
}
.btn-primary:hover{
    background-color: #4d39e9 !important;
    border-color: #4d39e9 !important;
}
.text-primary{
    color: #4d39e9 !important;
}
.custom-login-page a {
    color: #8575ff;
}
.custom-login-page a:hover {
    color: #fff;
}
.wrapper-page.custom-login-page {
    width: 100rem;
}
.custom-login-page .auth-left-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
}
span.invalid-feedback strong {
    color: #ff2929;
    font-weight: 100;
}

.tbl-menu .tbl-title {
    color: #337ab7;
    font-weight: 700;
}
.tbl-menu .tbl-title:hover {
    color: #1d4c74;
}
.tbl-menu ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: none;
}
.tbl-menu ul li {
    margin-right: 5px;
}
.tbl-menu ul li a {
    font-size: 13px;
}
.table-hover > tbody > tr:hover .tbl-menu ul{
    display: flex;
}
.video-banner {
    overflow: hidden;
    max-height: 500px;
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh;
    margin: -20px -5px 0px -5px;
    border-bottom: 2px solid #1b2032;
}
.banner-text {
    color: #fff;
    padding: 15rem 10rem 5rem 10rem;
}
.banner-text h3 {
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    margin: 12px 0 0;
    text-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    letter-spacing: 1.5px;
}
.banner-text .owner-name {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 25px;
    margin: 14px 0 !important;
    display: block;
}
.banner-watch-button {
    margin: 0;
    color: #fff;
    border: 1px solid #3851ab;
    font-size: 16px;
    -webkit-transition: background-color .2s,box-shadow .2s;
    transition: background-color .2s,box-shadow .2s;
    -webkit-box-align: center;
    align-items: center;
    background: #4867d5;
    display: flex;
    margin-bottom: 70px;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
}
.banner-watch-button:hover{
    background: #2c4ab5;
}
.video-content iframe {
    width: 100%;
    height: 500px;
}
input.parsley-success, select.parsley-success, textarea.parsley-success {
    color: inherit;
    background-color: unset;
    border: 1px solid #26ff37;
}

/* Upload Files Template */
/* First Upload */
.upload-files-wrapper {
    text-align: center;
    border: 2px dashed #eee;
    padding: 20px;
    position: relative;
    transition: .2s;
}
.upload-files-wrapper:hover{
    border: 2px dashed #878787;
}
.upload-files-wrapper input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
}
.upload-files-wrapper .ti-export {
    font-size: 30px;
    display: block;
    margin-bottom: 15px;
}
/* Second Upload */
.uploaded-files-wrapper {
    text-align: center;
    border: 2px dashed #eee;
    position: relative;
    transition: .2s;
    width: 100%;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
}
.uploaded-files-wrapper:hover{
    border: 2px dashed #878787;
}
.uploaded-files-wrapper:hover .uploaded-files-body{
    opacity: 1;
}
.uploaded-files-wrapper input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
}
.uploaded-files-wrapper .ti-export {
    font-size: 30px;
    display: block;
    margin-bottom: 15px;
}
.uploaded-files-body {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 54%);
    color: #fff;
    opacity: 0;
    transition: .2s;
    flex-wrap: wrap;
    flex-direction: column;
}
/* End Uploads */

.tabs li.tab a.active {
    color: #0090c7 !important;
}
.tabs .indicator {
    background-color: #0090ca;
}
.nav.nav-tabs > li > a:hover, .nav.tabs-vertical > li > a:hover {
    color: #0090c7 !important;

}

/* for adding creditcard/debit card UI */
.head-payment {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.container-payment {
    
        width: auto;
        border: 1px solid;
        display: flex;
    flex-direction: column;
    padding: 40px;
}
.container-payment h1 {
    text-align: center;
}
.first-row {
    display: flex;
}
.owner {
    width: 100%;
    margin-right: 40px;
}
.input-field {
    border: 1px solid #999;
}
.input-field input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
}
.selection-payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third-row{
    margin-top: 10px;
}
.selection-payment select {
    padding: 10px 20px;
}
.cards img {
    width: 100px;
}
.confirm-payment{
    background-color: blueviolet;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
    margin-top: 30px;
}
 
                       